.App {
  display: flex;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;  
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 500px;  
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 500px;  
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 500px;  
  }
}
